.BudgetTable {
    display: flex;
    flex-direction: column;
    width: 95vw;
    align-self: center;
}

.ExistingBudgetData,
.AddToBudget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    align-self: center;
}

.categoryType {
    width: fit-content;
}

.transaction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px black solid;
    margin: 2px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: max-content;
    justify-content: center;
    align-content: center;
}

h2 {
    font-size: 12pt;
    text-align: center;
}

th {
    font-size: 10pt;
}

tr {
    align-items: baseline;
}

td {
    align-items: baseline;
}

.amtContainer {
    display: flex;
}

.amount {
    width: 50px;
}

.date {
    width: 125px;
}

.category {
    width: 125px;
}