.DeleteRowModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2F455C;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 0;
    width: 80vw;
    height: 100px;
    color: #ccc;
    border: 2px solid rgb(255, 255, 255);
    z-index: 3;
    align-items: center;
    justify-content: center;
}

.closeButton {
    height: 25px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    filter: drop-shadow(0 0 2px rgb(0, 0, 0));
}