.EditRowModal {
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2F455C;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    max-width: 750px;
    padding-top: 42px;
    border: 1px solid #ccc;
    border: 2px solid rgb(255, 255, 255);
    z-index: 3;
    align-items: center;
    justify-content: center;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.closeButton {
    font-size: 1em;
    text-align: center;
    border: none;
    height: 22px;
    width: 22px;
    border-radius: 4px;
    background-color: #7dcf46;
    margin: 3px;
    color: white;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}