.EditRowModal {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 835px;
    height: 100px;
    padding: 10px;
    top: 50%;
    left: 50%;
    background: #2F455C;
    border-radius: 4px;
    z-index: 3;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.closeIcon {
    position: absolute;
    background: none;
    border: none;
    text-align: center;
    height: 15px;
    right: 95%;
    top: 15%;
    bottom: 50.12%;
    color: white;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.modalRow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 800px;
    background-color: #E6E6E6;
}

.saveIcon {
    position: absolute;
    top: 72%;
    left: 50%;
    right: 50%;
    width: 25px;
    height: 25px;
}