.Header {
    width: 100vw;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    top: 0;
}

.Header .logo {
    height: 100px;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.headerButton {
    margin-left: auto;
}

.loggedInHeader {
    position: absolute;
    width: 100%;
}

.userPhoto img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.headerNav {
    height: 10%;
}