.ExistingBudgetData,
.AddToBudget {
    width: 75vw;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
}

.categoryType {
    width: fit-content;
}

.transaction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px black solid;
    margin: 2px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: max-content;
    justify-content: center;
    align-content: center;
}

.hiddenButton {
    padding-left: 3px;
    padding-right: 3px;
    background: none;
    border: none;
}

h2 {
    font-size: 12pt;
    text-align: center;
}

th {
    font-size: 10pt;
}

tr {
    align-items: baseline;
}

td {
    align-items: baseline;
}

.amtContainer {
    display: flex;
}

.amount {
    width: 50px;
}

.date {
    width: 125px;
}

.category {
    width: 125px;
}

.editIcon,
.deleteIcon {
    height: 18px;
}