.Budget,
.Transactions {
    position: absolute;
    display: table;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 961px;
    left: 163px;
    top: 100px;
    background-color: rgba(72, 145, 148, 0.5);
    border-radius: 4px;
}

.title {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.ExistingBudgetData,
.ExistingTransactionData,
.EditTransactions,
.EditingTable {
    display: table;
    align-items: flex-start;
    justify-content: space-around;
    width: 85%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #489093;
    background-color: #E6E6E6;
    border-radius: 4px;
}

.ExistingBudgetData {
    flex-direction: row;
}

.EditingTable {
    flex-direction: column;
}

.Table {
    background-color: #E6E6E6;
    width: 90%;
    align-self: auto;
    margin-left: auto;
    margin-right: auto;
}

.TableHeader {
    width: 100%;
    font-family: rale;
}

th {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    width: auto;
}

.TableBody {
    width: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    align-items: baseline;
}

.centeredCell {
    text-align: center;
    height: 18px;
    width: 19px;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 12pt;
    text-align: center;
}

.submitButton {
    font-size: 1em;
    text-align: center;
    border: none;
    height: 22px;
    border-radius: 4px;
    background-color: #7dcf46;
    margin: 3px;
    color: white;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.addIcon {
    height: 25px;
}