.ExistingBudgetData,
.ExistingTransactionData,
.EditTransactions,
.EditingTable {
    display: table;
    align-items: flex-start;
    justify-content: space-around;
    width: 85%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #489093;
    background-color: #E6E6E6;
    border-radius: 4px;
}

.ExistingBudgetData {
    flex-direction: row;
}

.EditingTable {
    flex-direction: column;
}

.Table {
    background-color: #E6E6E6;
    width: 90%;
    align-self: auto;
    margin-left: auto;
    margin-right: auto;
}

.TableHeader {
    width: 100%;
}

th {
    font-size: 10pt;
    width: auto;
}

.TableBody {
    width: auto;
}

tr .row {
    border-color: black;
}

td {
    align-items: baseline;
}

.centeredCell {
    text-align: center;
    height: 18px;
    width: 19px;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 12pt;
    text-align: center;
}

.submitButton {
    font-size: 1em;
    text-align: center;
    border: none;
    height: 22px;
    border-radius: 4px;
    background-color: #7dcf46;
    margin: 3px;
    color: white;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.addIcon {
    height: 25px;
}