.ExistingBudgetData,
.ExistingTransactionData,
.EditingTable,
.EditTransactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #489093;
    background-color: #E6E6E6;
}

.Table {
    background-color: #E6E6E6;
    table-layout: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.TableHeader {
    width: 100%;
}

th {
    font-size: 10pt;
    width: auto;
}

.TableBody {
    width: auto;
}

tr .row {
    border-color: black;
}

td {
    align-items: baseline;
}

.centeredCell {
    text-align: center;
    height: 18px;
    width: 19px;
    align-items: center;
    justify-content: center;
}

.categoryType {
    width: fit-content;
}

.transaction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px black solid;
    margin: 2px;
}

h2 {
    font-size: 12pt;
    text-align: center;
}

.amtContainer {
    display: flex;
}

.amount {
    width: 50px;
}

.date {
    width: 125px;
}

.category {
    width: 125px;
}

.submitButton {
    font-size: 1em;
    text-align: center;
    border: none;
    height: 22px;
    border-radius: 4px;
    background-color: #7dcf46;
    margin: 3px;
    color: white;
    filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.addIcon {
    height: 25px;
}